.quotes-container {
  margin-top: 2em;
  margin-bottom: '4em';
  overflow-y: scroll;
  max-height: 60vh;
}

.quotes-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.loading-container, .error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
