/**
 * Sass variables used across the application.
 *
 * Example:
 *   $main-color: #000000;
 *   $main-bg: #FAFAFA;
 */

$primary: #003b6f;
$dark-primary: #05192b;
$light-blue: #2196f3;
$green: #61f39f;
$gray: #e0e0e0;
$gray-2: #ffffffb3;
$gray-3: #f2f2f2;
$gray-4: #01111f;
$red-1: #ff5043;
$red-2: #f36161;
$light-yellow-2: #FDF0B6;